{% extends 'base.html.twig.' %}

{% block title %}Modifier mon mot de passe - La Cave aux Délices{% endblock %}

{% block content %}
    <!-- Breadcrumb Section Start -->
    <div class="section">
        <div class="breadcrumb-area bg-light">
            <div class="container-fluid">
                <div class="breadcrumb-content text-center">
                    <h1 class="title">L'espace personnel : {{ app.user.firstname }}</h1>
                    <ul>
                        <li>
                            <a href="/">Accueil </a>
                        </li>
                        <li>
                            <a href="{{ path('account') }}">Mon compte </a>
                        </li>
                        <li class="active">Modifier mon mot de passe</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <div class="container">
        {{ form(form) }}
    </div>
    <div class="container">
        {% if notification %}
            <div class="alert alert-primary">{{ notification}}</div>
        {% endif %}
    </div>
    <br>

{% endblock %}

