{% extends 'base.html.twig' %}

{% block title %}{{subcategory.name}} - La Cave aux Délices{% endblock %}

{% block content %}
    <!--------------------- Categories Banner Section Start ------------------------>

    <div class="section">
        <div class="container mt-10">

            <!-- Products Start -->
            <div class="row">

                <div class="col-12">
                    <!-- Section Title Start -->
                    <div class="section-title aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                        <h2 class="title pb-3">{{ subcategory.name }}</h2>
                        <span></span>
                        <div class="title-border-bottom"></div>
                    </div>
                    <h5>
                        <a href="{{ path('categories') }}">Retour</a>
                    </h5>
                    <br>
                    <!-- Section Title End -->
                </div>

                <div class="row shop_wrapper grid_3">

                    <!------------------------ Single Product Start --------------------->
                    {% for product in products %}
                        <div class="col-lg-3 col-md-3 col-sm-6 product" data-aos="fade-up" data-aos-delay="200">
                            {% include 'product/single_product.html.twig' %}
                        </div>
                    {% endfor %}
                    <!------------------------ Single Product End ------------------>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
