<div class="col-lg-3 col-12 col-custom">
    <!-- Sidebar Widget Start -->
    <aside class="sidebar_widget mt-10 mt-lg-0">
        <div class="widget_inner" data-aos="fade-up" data-aos-delay="200">
            <div class="widget-list mb-10">
                <h3 class="widget-title mb-4">Rechercher</h3>
                <div class="search-box">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </aside>
    <!-- Sidebar Widget End -->
</div>