{% extends 'base.html.twig' %}

{% block content %}

    <!-- Breadcrumb Section Start -->
    <div class="section">
        <div class="breadcrumb-area bg-light">
            <div class="container-fluid">
                <div class="breadcrumb-content text-center">
                    <h1 class="title">Inscription</h1>
                    <ul>
                        <li>
                            <a href="/">Accueil </a>
                        </li>
                        <li class="active">Inscription</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

<div class="container">
<br>
    {{ form(form) }}
    {% if notification %}
        <div class="alert alert-primary">{{ notification }}</div>
    {% endif %}
</div>
{% endblock %}





