{% extends 'base.html.twig' %}

{% block title %} - La Cave aux Délices{% endblock %}

{% block content %}
<!--------------------------- Shop Section Start --------------------------------->
<div class="section section-margin">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-9 col-12 col-custom">
                <h5><a href="{{ path('regions') }}">Retour</a></h5><br>

                <!-- Section Title Start -->
                <div class="section-title aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                    <h2 class="title pb-3">{{brand.name}}</h2>
                    <span></span>
                    <div class="title-border-bottom"></div>
                </div>
                <!-- Section Title End -->
                <!------------------------------ Shop Wrapper Start --------------------------->
                <div class="row shop_wrapper grid_3 mt-3">
                    <!------------------------ Single Product Start --------------------->
                    {% for product in products %}
                        <div class="col-lg-4 col-md-4 col-sm-6 product" data-aos="fade-up" data-aos-delay="200">
                            {% include 'product/single_product.html.twig' %}
                        </div>
                    {% endfor %}<hr>
                    <!------------------------ Single Product End ------------------>
                </div>
            </div>
            <div class="col-lg-3 col-12 col-custom">
                <!-- Sidebar Widget Start -->
                <aside class="sidebar_widget mt-10 mt-lg-0">
                    <div class="widget_inner" data-aos="fade-up" data-aos-delay="200">
                        <div class="widget-list mb-10">
                            <div class="search-box">
                                <ul class="sub-menu">
                                    <a class="blog-overlay mt-4">
                                        <img src="/uploads/{{ brand.illustration }}" width="250px" alt="{{ brand.name }}">
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>
                <!-- Sidebar Widget End -->
            </div>
        </div>
    </div>
</div>

{% endblock %}
