{% extends 'base.html.twig' %}

{% block title %}Erreur interne - La Cave aux Délices{% endblock %}

{% block content %}

    <!-- Error Section Start -->

    <div class="section section-margin overflow-hidden">
        <div class="container">
            <div class="row mb-n6">
                <div class="col-lg-6 mb-6" data-aos="fade-left" data-aos-delay="600">
                    <div class="about_thumb">
                        <img class="fit-image" src="{{asset('assets/images/about/erreur.jpg') }}" alt="Le serveur a rencontré une erreur interne">
                    </div>
                </div>
                <div class="col-lg-6 align-self-center mb-6" data-aos="fade-right" data-aos-delay="600">
                    <div class="about_content">
                        <h1>DESOLÉ!<br>Le serveur a rencontré une erreur interne<br>qui l’a empêché de satisfaire votre requête</h1>
                        <h4>Rendez-vous sur la page d'accueil pour poursuivre votre visite</h4><br>
                        <a href="/" class="btn btn-primary btn-hover-dark rounded-2">A la page d'accueil</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Error Section End -->
{% endblock %}

